/* ==========================================================================
  Icon styles
  ========================================================================== */

// Create a map of icon
$icons-map: getIconsMap();

@each $name, $svg-url in $icons-map {
  @include icon($name);
}

.icon {
  width: 24px; // Adjust as needed
  height: 24px; // Adjust as needed
  fill: currentcolor; // Icons will inherit text color
  display: inline-block;
  stroke-width: 0;
  stroke: currentcolor;
  background-size: contain;
  background-repeat: no-repeat;
}
